.talks{
	color: $white;

	.talk_title{
		padding: 10px;
		line-height: 20px;
		font-weight: bold;
		font-size: 20px;
		color: $white;
		word-break: break-word;
		font-family: 'Arimo', sans-serif;
	}

	.desc{
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 30px;
		font-family: 'Droid Serif', serif;
		color: $black;
		padding: 20px;
		background: rgba( $white, .6 );
	}

	.relators{
		margin-top: 20px;
		font-size: 12px;
		line-height: 14px;

		.relator{
			margin-bottom: 15px;
		}

		.rel_title{
			font-family: 'Arimo', sans-serif;
			font-weight: bold;
			margin-bottom: 18px;
			font-size: 16px;
		}

		.relator_photo{
			float: left;
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background-color: black;
			margin-right: 10px;
			margin-bottom: 10px;
			background-size: cover;
			background-position: 50%;
		}

		.relator_name{
			font-weight: 800;
			margin-bottom: 5px;
			font-family: 'Arimo', sans-serif;
		}

		.relator_desc{
			margin-left: 70px;
			line-height: 16px;
		}

		.relator_desc_more_butt,
		.relator_desc_more_less
		{
			text-decoration: underline;
			color: $orange;
		}
		
	}

	&.talks_past{
		color: $dark-grey;

		.talk{
			margin-top: 20px;
		}

		.talk_title_past{
			line-height: 20px;
			font-weight: 700;
			font-size: 20px;
			word-break: break-word;
			font-family: Arimo,sans-serif;
		}

		.desc_past{
			font-size: 14px;
			line-height: 19px;
			margin-top: 15px;
			font-family: 'Droid Serif',serif;
			color: #000;
		}

		.relator_photo_past{
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background-color: #000;
			display: inline-block;
			background-size: cover;
			background-position: 50%;
			border: solid 2px;
		}

		.relators{
			border-bottom: solid 1px $orange;

			.relator{
				width: 20%;
				float: left;
				text-align: center;

				@media ( max-width: 615px ){
					width: 25%;
				}
				@media ( max-width: 420px ){
					width: 50%;
				}
			}
		}
	}
}