/*Submenu*/
.submenu{
	margin: 0px;
	position: fixed;
	top: 60px;
	width: 100%;
	background-color: $orange;
	z-index: 1;
	padding: 7px 0px;
	opacity: 0;
	-webkit-transform: translate3d(0px,-100%,0px);
	transform: translate3d(0px,-100%,0);
	-webkit-transition: all 400ms cubic-bezier(0.08,.36,.04,1);
	transition: all 400ms cubic-bezier(0.08,.36,.04,1);

	&.showmenu{
		opacity: 1;
		-webkit-transform: translate3d(0px,0px,0px);
		transform: translate3d(0px,0px,0px);
	}

	li{
		list-style: none;
	}

	.triangle-left {
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-right: 10px solid #000;
		border-bottom: 12px solid transparent;
		display: block;
		float: left;
	}

	.triangle-right {
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-left: 10px solid #000;
		border-bottom: 12px solid transparent;
		display: block;
		float: left;
	}

	.triangle_year{
		background-color: #000;
		color: #fff;
		display: block;
		line-height: 14px;
		font-size: 11px;
		padding: 5px;
		vertical-align: top;
		float: left;
	}

	.triangle_line{
		float: left;
		height: 12px;
		border-bottom: solid 1px #000;
		display: block;
		width: 100px;
	}

	@media ( max-width: 640px ){
		display: none;
	}
}