/*COLORS*/
$light-grey: #9797A5;
$dark-grey: #535362;
$orange: #D16200;

/*FONTS*/
@font-face {
    font-family: 'genevaregular';
    src: url('fonts/geneva-webfont.eot');
    src: url('fonts/geneva-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geneva-webfont.woff') format('woff'),
         url('fonts/geneva-webfont.ttf') format('truetype'),
         url('fonts/geneva-webfont.svg#genevaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo{
	left: 50%;
	position: fixed;
	width: 242px;
	height: 103px;
	margin-left: -121px;
	background-color: $orange;
	z-index: 2;
	border-radius: 2px;
	border-radius: 4px;
	top: -10px;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.19);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.19);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.19);

	.logo_img{
		background-image: url("../imgs/logo_v2.png");
		width: 209px;
		height: 79px;
		position: relative;
		left: 50%;
		margin-left: -94px;
		top: 50%;
		margin-top: -37px;

		@media ( max-width: 900px ){
			display: none;
		}
	}

	.logo_tablet{
		background-image: url("../imgs/header_mobile_bg_v2.png");
		width: 49px;
		height: 73px;
		position: relative;
		left: 50%;
		margin-left: -24px;
		top: 50%;
		margin-top: -37px;

		@media ( min-width: 900px ){
			display: none;
		}
	}

	@media ( max-width: 900px ){
		width: 80px;
		margin-left: -40px;
	}

	@media ( max-width: 640px ){
		display: none;
	}
}

nav.header{
	background-image: url("../imgs/header_bg.png");
	height: 55px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1;
	border-top: solid 1px $orange;

	.header_dropdown{
		background-color: $dark-grey;
		display: none;
	}

	.logo_mobile{
		background-image: url("../imgs/header_mobile_logo.png");
		height: 55px;
		width: 146px;
		display: block;
	}

	.sandwich{
		position: absolute;
		top: 15px;
		right: 10px;
		background-image: url("../imgs/sandwich.png");
		height: 25px;
		width: 38px;
		display: block;
		cursor: pointer;

		&:hover{
			background-image: url("../imgs/sandwich_dark.png");
		}
	}

	ul{
		&.left{
			margin-left: 130px;

			li{
				float: left;
				margin-right: 20px;
			}
		}

		&.right{
			margin-right: 130px;

			li{
				float: right;
				margin-left: 20px;
			}
		}

		li{
			float: left;
			list-style: none;
			text-transform: uppercase;

			a{
				color: $light-grey;
				font-family: "genevaregular";
				font-size: 14px;
				line-height: 50px;

				&:hover{
					color: $dark-grey;
				}
			}
		}
	}

	@media ( max-width: 900px ){
		.row ul{
			&.right{
				margin-right: 40px;

				li{
					margin-left: 10px;
				}
			}

			&.left{
				margin-left: 40px;

				li{
					margin-right: 10px;
				}
			}

			a{
						font-size: 12px;
					}
		}
		
	}

	@media ( max-width: 640px ){
		background-image:none;
		background-color: #fff;
		border-top:none;
		border-bottom: solid 1px $dark-grey;

		.logo_mobile{

		}

		.row ul {
			margin: 0px;
		}

		.row ul li{
			float: none;
			border-bottom: solid 1px $light-grey;

			a{
				padding: 0px 20px;
				display: block;
			}

			&:hover a{
				background-color: $light-grey;
				color: $dark-grey;
			}
		}
	}
}

.title{
		font-size: 59px;
		line-height: 64px;
		margin-bottom: 30px;
	}

	.content{
		margin-top: 80px;
	}

#home{
	background-image: url("../imgs/home_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	background-attachment: fixed;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 0;
	background-size: cover;
	padding-bottom: 100px;

	@media ( max-width: 640px ){
		.content{
			text-align:center;
		}
	}

	.content{
		margin-top: 185px;
		font-family: "genevaregular";
	}

	.logo_big{
		background-image: url("../imgs/home_logo.png");
		width: 223px;
		height: 409px;
		float: right;
	}

	.title{
		font-size: 53px;
		line-height: 60px;
		margin-bottom: 31px;
	}

	p{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
		color: $dark-grey;
	}

	.date{
		text-transform: uppercase;
		font-size: 25px;
		line-height: 32px;
		color:$orange;
		margin-bottom: 0px;
	}

	.where{
		text-transform: uppercase;
		font-size: 19px;
		line-height: 22px;
		color:$orange;
		margin-bottom: 1.25rem;
	}
}

#programme{
	background-image: url("../imgs/programme_bg.png");
	background-repeat: repeat;
	background-color: #fff;
	background-attachment: fixed;
	color: $dark-grey;
	height: 690px;
	width: 100%;
	position: relative;
	z-index: 0;
}

#talks{
	background-image: url("../imgs/talks_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $dark-grey;
	height: 690px;
	width: 100%;
	position: relative;
	z-index: 0;
	background-size: cover;
	background-position: 50%;
}

#exibitions{
	background-image: url("../imgs/exibitions_bg.png");
	background-repeat: repeat;
	background-color: #fff;
	background-attachment: fixed;
	color: $dark-grey;
	width: 100%;
	position: relative;
	z-index: 0;
	text-align: center;
	padding-bottom: 100px;

	.sub_title{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.sub_content{
		line-height: 17px;
		font-size: 13px;
	}

	.fixed_height{
		height: 481px;
	}

	.orange_line{
		border-right: solid 1px $orange;
	}

	@media ( max-width: 640px ){
		.orange_line{
			border-right: none;

			.sub_content{
				border-bottom: solid 1px $orange;
				margin-bottom: 10px;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
		}

		.fixed_height{
			height: auto;
		}
	}

}

#location{
	background-image: url("../imgs/location_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 100px;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 0;
	background-size: cover;
	background-position: 50%;
	color: #fff;
	text-align: right;
	word-break: break-word;

	.sub_title{
		font-size: 30px;
		line-height: 35px;
	}

	a img{
		padding-bottom: 20px;
	}

	.sub_content{

	}

	.mail{
		color: $orange;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.map_container{
		background-repeat: repeat;
		border: solid 1px #CCCCCC;	
		-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.19);
		-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.19);
		box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.19);
	}
}

#sponsors{
	background-image: url("../imgs/sponsors_bg.png");
	background-repeat: repeat;
	background-color: #fff;
	background-attachment: fixed;
	width: 100%;
	position: relative;
	z-index: 0;
	color: $dark-grey;
	height: 690px;

	p{
		font-size: 15px;
		line-height: 21px; 
	}
}

.footer{
	background-image: url("../imgs/footer_bg.png");
	background-repeat: repeat;
	color: $light-grey;
	font-family: "genevaregular";

	.columns{
		padding: 20px;
		padding-right: 0px;
	}

	.f_date{
		color: $orange;
		font-size: 30px;
		line-height: 32px;
	}

	.f_where{
		color: $orange;
		font-size: 20px;
		line-height: 22px;
	}

	.f_logo{
		background-image: url("../imgs/home_logo.png");
		width: 70px;
		height: 129px;
		background-size: cover;
		float: left;
	}

	.f_trademark{
		font-size: 22px;
		line-height: 23px;
		margin-bottom: 10px;
		padding-right: 20px;
	}

	.f_address{
		font-size: 12px;
		line-height: 14px;
		word-break: break-all;
		padding-right: 20px;
	}

	.f_phone{
		font-size: 12px;
		line-height: 16px;
		margin-top: 10px;
		color: $orange;
		word-break: break-all;
		padding-right: 20px;
	}

	.f_social{
		font-size: 15px;
	}

	p{
		margin-bottom: 10px;
		font-size: 13px;
	}

	.left_container{
		float: right;
		width: 295px;
		text-align: right;
		padding-right: 20px;
	}

	.line{
		border-right: solid 1px;
		height: 130px;
	}

	@media ( max-width: 640px ){
		.gocentral{
			text-align: center;
			padding-top: 0px;
		}

		.line{
			border:none;
			border-bottom: solid 1px;
		}

		.columns{
			padding-right: 20px;
		}

		.left_container{
		width: 100%;
		padding-right: 0px;
		padding-bottom: 20px;
		height: auto;
		}
	}
}